@{ Layout = null; 

    List<BancoHabana.Models.Movimientos> cuen = new List<BancoHabana.Models.Movimientos>();

    cuen = (List<BancoHabana.Models.Movimientos>)Session["datosmovimientos"];

    BancoHabana.Models.Cuentas cuentas = new BancoHabana.Models.Cuentas(); }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mobile-1.4.5.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.theme-1.4.5.css">
    <link rel="stylesheet" href="~/Content/temafsc_3.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.external-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.icons-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.inline-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.structure-1.4.5.css">
    <style>
        .foto {
            margin-left: 20%;
        }

        h3 {
            text-align: center;
            align-content: center;
        }
    </style>
    <title>DatosMovimientos</title>
</head>
<body>

    
    <div id="DatosMovimientos" data-role="page">
        <div data-role="header" data-position="fixed" data-theme="c">
            <h3>Movimientos</h3>
        </div>
        <div data-role="content">
            <div>

                <table data-role="table" id="temp-table" data-mode="reflow" class="ui-responsive table-stroke">
                    <thead>
                        <tr>
                            <th data-priority="persist">Número Cuenta</th>
                            <th data-priority="1">Descripción</th>
                            <th data-priority="1">Saldo</th>
                            <th data-priority="2">Fecha</th>
                            <th data-priority="2">Monto</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ foreach (var item in cuen)
                            {
                                                <tr>
                                                    <td>@item.Numtarjeta</td>
                                                    <td>@item.descripcion</td>
                                                    <td>@item.saldo</td>
                                                    <td>@item.fechamovimiento</td>
                                                    <td>@item.monto</td>
                                                </tr>
                            } }

                        

                    </tbody>
                </table>

            </div>
            <br>
            <a href="MenuPrincipal" data-role="button">Regresar</a>
        </div>
    </div>
</body>
</html>
